/* registration part */
.registration-button {

    padding: 50px;
}

/* explore part */
.explore-background {
    background-color: rgb(235, 246, 246);
}

.explore-defination {
    padding-top: 110px;
}

/* footer part */
.background-height {
    padding: 150px;

}